<!DOCTYPE html>
<html>
<head>
<title>test</title>
<script src="lib/angular.js"></script>
<script src="../app.js"></script>
<script src="../services/auto-complete.js"></script>
<script src="../directives/auto-complete.js"></script>
<script src="../directives/auto-complete-single-div.js"></script>
<link rel="stylesheet" type="text/css" href="../css/angularjs-autocomplete.css" />
<script>
angular.module('myApp', ['angularjs-autocomplete'])
  .controller('MyCtrl', function($http) {
  var vm = this;
  vm.source1 = ["this", "is", "array", "of", "text"]; 
  vm.source2 = [{id:1, value:'One'}, {id:2, value:'Two'}, {id:3, value:'Three'}, {id:4, value:'Four'}];
  vm.source3 = "https://maps.googleapis.com/maps/api/geocode/json?address=:keyword";
  vm.source4 = function(param) {
    return $http.get("https://maps.googleapis.com/maps/api/geocode/json?address="+param.keyword);
  };

  vm.callback = function(arg) {
    vm.selected = arg;
  };
  vm.prefillFunc = function() {
    vm.myVar = 'Prefilled';
  };
  vm.listFormatter = function(data) {
    return data.id ? '<b>('+data.id+')</b><i>'+data.value+'</i>' : data;
  };
});
</script>
<style>
  .my-input {width: 400px; height: 1.5em;}
</style>
</head>

<body ng-app="myApp" ng-controller="MyCtrl as vm">

<h1> Autocomplete - single </h1>

Choose Source:
<br/><input type="radio" ng-model="vm.source" ng-value="vm.source1">{{vm.source1}}
<br/><input type="radio" ng-model="vm.source" ng-value="vm.source2">{{vm.source2}}
<br/><input type="radio" ng-model="vm.source" ng-value="vm.source3">{{vm.source3}}
<br/><input type="radio" ng-model="vm.source" ng-value="vm.source4">{{''+vm.source4}}

<br/><br/>
<div ng-show="vm.source">

  <input auto-complete
    value-changed="vm.callback(value)"
    ng-model="vm.myVar"
    ng-disabled="disabled"
    placeholder="Enter Text"
    ng-show="vm.source == vm.source1 || vm.source == vm.source2"
    class="my-input"
    source="vm.source"
    display-property="value"
    value-property="id"
    prefill-func="vm.prefillFunc()"
    list-formatter="vm.listFormatter" />

  <input class="my-input"
    placeholder="Enter Address"
    ng-model="vm.myVar"
    ng-disabled="disabled"
    auto-complete
    ng-show="vm.source == vm.source3 || vm.source == vm.source4"
    source="vm.source"
    path-to-data="results"
    display-property="formatted_address"
    min-chars="2"
    value-changed="vm.callback(value)" />

  <input type="checkbox" ng-model="disabled"> Disabled

  <br/>
  <br/>source:   {{''+vm.source}}
  <br/>myVar:    {{vm.myVar}}
  <br/>selected: {{vm.selected}}
  <br/>
</div>

</body>
</html>
